.container {
  display: flex;
  justify-content: center;
  /* width: 65%; */
}

.overviewText {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-self: center;
  padding: 2%;
}

.overviewImg {
}
