.container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.overviewText {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-self: center;
  padding: 2%;
}
