.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 25px;
  background-color: #f9f7f2;
  height: 410px;
  flex-shrink: 0;
  margin-right: 20px;
}

.slideDescribe {
  /* display: flex; */
}

.slideHeader {
  display: flex;
  align-items: center;
  align-self: flex-start;
  width: max-content;
}

.cityCategory {
  display: flex;
  padding: 20px 0px;
}

.slideFooter {
  display: flex;
  align-items: center;
  align-self: flex-start;
  width: max-content;
}

.slideImage {
  padding: 20px 0px;
}
