body {
  display: flex;
  margin: 20px;
  padding: 20px;
  font-family: 'KievitPro', 'Roboto';
  width: 1366px;
}

/* shared-title */
/* h1 {
  font-size: 29px;
  color: #000000;
} */

/* h2 {
  font-size: 17px;
  color: #0000008d;
} */
